*{
  list-style: none;
  text-decoration: none ;
}

body {
  font-family: "Merriweather", serif ;
  background-color: $primary_bg;
}

.btn-first {
  padding: 12px 24px !important;
  border-radius: 8px;
  border: 1px solid $button_color;
  background-color: $button_color;
  color: #FFF;

  &:hover {
    background-color: #9ab812;
    color: #efecec;
  }
}

.btn-second {
  padding: 12px 24px !important;
  border-radius: 8px;
  border: 1px solid $button_color;
  color: $button_color;

  &:hover {
    background-color: $button_color;
    color: #FFF;
  }
}

.input-group {
  width: 50%;
   
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}

.navbar {
  .navbar-brand {
    color: $accen;
    font-size: 22px;
    font-weight: map-get($fonts_weight, bold );

    span {
      color: $button_color;
    }
  }

  .nav-item {
    i {
      font-size: 25px;
    }
  }
}

.menu-wrapper {
  margin-top: 120px;

  a  {
    margin: 0 25px;
  }
}

.header {
  margin-top: 200px;

  @include media-breakpoint-down(md) {
    margin-top: 120px;
  }
}

.popular, .latest {
  margin-top: 150px;

  .product-name {
    font-size: 16px;
    font-weight: map-get($fonts_weight , light );
    color: $accen;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .price {
    font-size: 18px;
    font-weight: map-get($fonts_weight , bold);
    color: $accen;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .rating {
    i {
      font-size: 20px;
      color: #f7c932;
    }
  }

  .btn-cart {
    padding: 8px 10px;
    border-radius: 8px;

    @include media-breakpoint-down(sm) {
      padding: 6px 8px;
    }

    i {
      font-size: 30px;
      color: $accen;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }
}

.subscribe {
  margin-top: 150px;

  .container {
    .subscribe-wrapper {
      background-color: #faf5d2;
      border-radius: 12px;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

      .col-sub {
        padding: 120px 0;
      }
    }
  }
}

footer {
  margin-top: 150px;
  background-color: #463C74;
  color: #ced4da;
  font-size: 14px;

  .row-content {
    .logo-brand {
      font-size: 30px;
      color: $button_color;

      span {
        color: $button_color;
      }
    }

    h3 {
      font-size: 25px;
      color: $button_color;
    }

    a {
      color: #ced4da;

      &:hover {
        color: #faf5d2;
      }
    }
  }

  .row-copy {
    i {
      font-size: 25px;
      color: $button_color;
    }
  }
}